<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>wine quality app</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 
</head>

<body style="background: rgb(71, 7, 7);">
  <div class="login-wrapper", style= "display: flex;align-items: center;justify-content: center;
  width: 100vw;height: 100vh;">
    <div class="login">
  
      <h1>Check you wine quality!</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">
          <input type="number" name="fixed acidity" placeholder="fixed acidity [values beetwen 1-20.0]" required="required" min="1" max="20" step = "0.1"/>
          <input type="number" name="volatile acidity" placeholder="volatile acidity [values beetwen 0-2.0]" required="required" min="0" max="2" step = "0.01"/>
          <input type="number" name="citric acid" placeholder="citric acid [values beetwen 0-1.0]" required="required" min="0" max="1" step = "0.01"/>
          <input type="number" name="residual sugar" placeholder="residual sugar [values beetwen 0 -20.0]" required="required" min="0" max="20" step = "0.1"/>
          <input type="number" name="chlorides'" placeholder="chlorides [values beetwen 0-1.0]" required="required" min="0" max="1" step= "0.001" />
          <input type="number" name="free sulfur dioxide" placeholder="free sulfur dioxide [values beetwen 0-100.0]" required="required" step = "1"/>
          <input type="number" name="total sulfur dioxide" placeholder="total sulfur dioxide [values beetwen 0-300.0]" required="required" step = "1"/>
          <input type="number" name="density" placeholder="density [values beetwen 0.990-1.010]" required="required" min="0.99" max="1.01" step= "0.0001"/>
          <input type="number" name="pH" placeholder="pH [values beetwen 2-5.0]" required="required" step = "0.01"/>
          <input type="number" name="sulphates" placeholder="sulphates [values beetwen 0-2.0]" required="required" step = "0.01"/>
          <input type="number" name="alcohol" placeholder="alcohol [values beetwen 6-20.0]" required="required" step = "0.1" />

            <button type="submit" class="btn btn-primary btn-block btn-large">Check if you wine is good or not</button>
        </form>
      <br>
      {{ prediction_text }}
      <h4>App should be use by wine producers to determine whether the wine will be tasty or not in customers opinion.
        <br>
        App base on red wine production parameters, given above. </h4>
    </div>
  </div>

</body>
</html>
